@use "../../../variables" as *;

.hero-img-text {
  .content-img {
    min-height: 250px;
    background: url("/dist/propiej/images/about.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    @include media-min(SM) {
      min-height: 448px;
      margin-bottom: -25rem;
    }
    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 70%);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  &__overlay {
    max-width: 900px;
  }
  &__bottom-section {
    @include media-min(SM) {
      padding-top: 30rem;
    }
  }
  .titre-with-left-line::before {
    border-color: #fff;
  }
}
