@use "../../../_variables.scss" as *;
.site_header {
  &__top {
    border-bottom: 0.1rem solid $wbu-border-color;
  }
  &__socials {
    svg {
      width: 2.1rem;
      fill: $wbu-color-secondary;
    }
    li a {
      display: block;
      padding: 0 0.4rem;
    }
  }
  &__menus {
    .logo {
      max-width: 100px;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          @include media-min(DD) {
            padding: 3rem 1.5rem;
          }
          color: #000;
        }
      }
    }
  }
}
