@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
$wbu-color-primary: rgb(187, 26, 160);
$wbu-color-secondary: #273ea5;
$wbu-color-thirdly: rgb(104, 41, 95);
$wbu-border-color: #afa6a6;
// $evenex-orange-200: #FF7C49;
// $evenex-blue-color: #172070;
