@use "./_variables.scss";
@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "@stephane888/wbu-atomique/scss/bootstrap-all.scss";
@use "@stephane888/wbu-atomique/scss/atome/typography/_default.scss";
@use "@stephane888/wbu-atomique/scss/molecule/default-class.scss";
//Override vraible
:root {
  --bs-border-radius: 0.5rem;
  --bs-border-radius-sm: 0.5rem;
}

/**
 * Btn
 */
.btn {
  padding-inline: 4rem;
  &:hover {
    box-shadow: 4px 4px 15px -10px #5f5f5f;
  }
  &-primary,
  &-primary:hover {
    color: #fff;
  }
  &-sm {
    padding-inline: 2rem;
  }
}
