<footer class="site-footer space-padding pb-5">
  <div class="container">
    <div class="items d-flex flex-wrap justify-content-between">
      <!-- 1 -->
      <div class="item">
        <div class="site-footer__logo text-center">
          <img src="./images/logo-propiej.png" class="logo" alt="Propiej Logo" />
        </div>
        <div class="rxs">
          <ul class="list-unstyled gap-3 d-flex">
            <li>
              <a> <img src="./images/facebook.png" class="facebook" alt="facebook" /> </a>
            </li>
            <li>
              <a> <img src="./images/x.png" class="facebook" alt="twitter" /> </a>
            </li>
            <li>
              <a> <img src="./images/instagram.png" class="instagram" alt="instagram" /> </a>
            </li>
            <li>
              <a> <img src="./images/in.png" class="linkedin" alt="linkedin" /> </a>
            </li>
            <li>
              <a> <img src="./images/youtube.png" class="youtube" alt="youtube" /> </a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <div class="nav-link text-body-emphasis px-0 py-2"><strong>Phone:</strong> 999.999.999</div>
            </li>
            <li class="nav-item">
              <div class="nav-link text-body-emphasis px-0 py-2"><strong>Addresse:</strong> 123 Address st, Adress city, Cameroun</div>
            </li>
            <li class="nav-item">
              <div class="nav-link text-body-emphasis px-0 py-2"><strong>BP:</strong> 125485, Cameroun</div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 2 -->
      <div class="item">
        <div class="site-footer__logo">
          <div class="h4 fw-bold">Pages</div>
        </div>
        <div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Catalogue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Projets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Actualités</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Annuaire</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 3 -->
      <div class="item">
        <div class="site-footer__logo">
          <div class="h4 fw-bold">Liens utiles</div>
        </div>
        <div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Devenir enseigant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Financer un projet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Soumettre un projet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Contactez nous</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Conditions générales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body-secondary px-0 py-2" href="#">Politique de confidentialité</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 4 -->
      <div class="item">
        <div class="site-footer__logo">
          <div class="h4 fw-bold">Newsletter</div>
        </div>
        <div>
          <p>Recevez les dernières actualités sur les réussites des bénéficiaires, les nouveaux projets matures et les opportunités de financement du PROPIEJ.</p>
          <form class="d-flex">
            <div class="input-group">
              <input type="email" class="form-control" id="newsletterEmail" placeholder="Votre adresse e-mail" />
              <button type="submit" class="btn btn-primary send-message"><span class="d-none">S'abonner</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="site-footer__bottom py-3 bg-black text-center text-white small text-dark-emphasis">
  <div class="container">© 2025 PROPIEJ tous droits reservés</div>
</div>
