// ressources necessary
@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "@stephane888/wbu-atomique/scss/bootstrap-all.scss";
@use "./_variables" as *;

// Corresponding google fonts styles

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');




body {
    font-family: 'Poppins', sans-serif;
// font-size

h2{
  font-size:$wbu-default-font-size*1.5;
}

 p{
  font-size:$wbu-default-font-size*1.1 ;
 }

 a{
    font-size:$wbu-default-font-size;
 }

}